@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

body {
  font-family: 'Red Hat Text', sans-serif;
}

.container {
  text-align: center;
  color: var(--color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./bg-1.jpg");
  background-size: cover;
  background-position: center;
  
/*  this is where the magic happens:  */
  background-attachment: fixed;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  color: white;
}

p {
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
  color: white;
}

.blank {
  width: 100%;
  min-height: 60vh;
  background-color: var(--color);
}

h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
}
#about{
  color: white;
}
.skills, .frontend, .BaD{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
p img{
  margin: 10px;
}

.container a{
  display: inline-block;
  padding: 1em 3.5em;
  background-color: var(--color);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: .5px;
  font-size: .875rem;
  cursor: pointer;
}

.container a:hover{
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}